<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" style="color: white; padding-left: 25%; position: absolute;">Web Security Challanges</a>
		</div>
	</div>
</nav>
