<!DOCTYPE html>
<html ng-app="Myapp">

<head>
    <title>HackToWin</title>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="../bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/simple-sidebar.css">

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>

<body>
    <% include ../includes/nav.html %>
        <div class="row">
            <div class="container">
                <% if(success_msg!=''){ %>
                    <br>
                    <br>
                    <div class="alert alert-success">
                        <%=success_msg%>
                    </div>
                    <%
				}
				if(error_msg!=''){
				%>
                        <br>
                        <br>
                        <div class="alert alert-danger">
                            <%=error_msg%>
                        </div>
                        <%
				}
				if(error!=''){
					%>
                            <br>
                            <br>
                            <div class="alert alert-danger">
                                <%=error%>
                            </div>
                            <% } %>
            </div>

            <div class="col-lg-12">
                <%- body %>
            </div>
        </div>
        <div class="container">
            <footer class="footer center">
                <p>&copy; 2016-2017 HackToWin, creato da Brahim Jaddi & Davide Sestili per UNICAM</p>
            </footer>
        </div>
</body>

</html>