<br>
<br>
<script>
function setAction(){
	document.getElementById("loginForm").action ="/"+document.getElementsByName("username").value +"/login";
}
</script>
<div class="login-form">
	<% if (typeof errors != 'undefined'){
			errors.forEach(function(msg){
	%>
		<div class="alert alert-danger">
			<%=msg%>
		</div>
		<%
		});
	}
	%>
	<h2 class="page-header">Login</h2>
	<form method="post" id="loginForm">
		<div class="form-group">
			<label>Username</label>
			<input type="text" class="form-control" placeholder="Username" name="username">
	    </div>
	    <div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" placeholder="Password" name="password">
		</div>
		<button type="submit" class="btn btn-default" onsubmit="setAction()">Log-In</button>
	</form>
</div>
