<br>
<br>
<script>
    $(document).ready(function() {
        $(document).on("contextmenu", function(e) {
            if (e.target.nodeName != "INPUT" && e.target.nodeName != "TEXTAREA") {
                alert("Trova un'altro modo!!!");
                e.preventDefault();
            }
        });
    });
</script>
<div class="container">
    <div id="content">
        Il tasto destro non funziona.
        <!--La password per web3 è sog1Nb2oIWUkxbzHZbbp9IpkxBlpRv7v -->
    </div>
</div>